<h1>Myyntituotetyypit</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Hinta</th>
    <th>2+ Hinta</th>
    <th>Myyt채viss채</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_types.each do |product_type| %>
  <tr>
    <td><%= product_type.product.name + " " + product_type.name %></td>
    <td><%= product_type.price %></td>
    <td><%= product_type.secondprice %></td>
    <td><%= product_type.active %></td>
    <td><%= link_to 'N채yt채', product_type %></td>
    <td><%= link_to 'Muokkaa', edit_product_type_path(product_type) %></td>
    <td><%= link_to 'Poista', product_type, :method => :delete, :data => { :confirm => 'Oletko varma?' } %></td>
    <td><%= button_to "Poista", product_type_path(product_type), :method => :delete, :confirm => "Oletko varma?", :title => "Poista" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Uusi myyntituotetyyppi', new_product_type_path %>
