<%= form_for( @programgroup ) do |f| %>
<% if @programgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programgroup.errors.count, "error") %> prohibited this programgroup from being saved:</h2>

      <ul>
        <% @programgroup.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<!--[form:programgroup]-->
<p><label for="programgroup_name">Nimi</label><br/>
<%= f.text_area :name %></p>

<p><label for="programgroup_nameen">Englanninkielinen nimi</label><br/>
<%= f.text_area :nameen %></p>

<p><label for="programgroup_visible">N채kyv채</label><br/>
<select id="programgroup_visible" name="programgroup[visible]">
	<option value="false">Ei</option>
	<option value="true">Kyll채</option>
</select></p>

<p><label for="programgroup_primarygroup">Primarygroup</label><br/>
<select id="programgroup_primarygroup" name="programgroup[primarygroup]">
	<option value="false">Ei</option>
	<option value="true">Kyll채</option>
</select></p>

<!--[eoform:programgroup]-->

<% end %>