<% cache('staff_tickets') do %>
<h3><%= @event %></h3>
<table border="1">
<tr><th>Sukunimi</th><th>Etunimi</th><th>Päiviä</th></tr>
<% @staffs.each{ |staff| %>
<tr>
<% maxday = staff.max_days(@event)
if maxday == 1 %>
<td valign="top"><b><%=staff.lastname%></b></td>
<td valign="top"><b><%=staff.firstname%></b></td>
<td valign="top"><b><%= maxday %></b></td>
<% else %>
<td valign="top"><%=staff.lastname%></td>
<td valign="top"><%=staff.firstname%></td>
<td valign="top"><%= maxday %></td>
<% end %>
</tr>
<% } %>
</table>
<% end %>
