<script>
    function checkEnter(e){
        e = e || event;
        var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
        return txtArea || (e.keyCode || e.which || e.charCode || 0) !== 13;
    }
</script>
<div class="sisalto" onkeypress="return checkEnter(event)">
        <h2><%= flash[:notice] %></h2>
	<h2><%= @event %> GM-ilmoittautuminen / GM Sign-up</h2>

<p>Ilmoittautumisen lähetettyäsi saat lähiaikoina sähköpostiisi vahvistusviestin.</p>
<p>After signing up, you will receive a confirmation message to your e-mail within a few days.</p>
<%= form_for( @person, :url => { :action => 'create' } ) do |f| %>
<div>
<table border="0" id="comment_form">

	<tr>
		<td colspan="2" align="left" valign="top">Etunimi / First Name: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input id="person_firstname" name="person[firstname]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Sukunimi / Last Name:: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[lastname]" id="person_lastname" type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Lempinimi (tulee badgeen) / Nickname (for your badge):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[nickname]" id="person_nickname" type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Matkapuhelin / Mobile phone: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_phone]" id="person_primary_phone" type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Sähköpostiosoite (juuri sinun, tällä tunnistetaan ihmiset) / E-mail address (yours - this is how we identify people): <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_email]" id="person_primary_email" type="text" /></td>
	</tr>
        <br />
<% for i in 1..7 %>
	<tr>
		<td colspan="2" align="left" valign="top"><%= i %>. pelin tiedot / Game Session <%= i %></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Pelin nimi / Game Title:</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="game<%= i %>[name]" id="game<%=i %>_name" type="text" /></td>
	</tr>

      <tr><td colspan="2" align="left" valign="top">Valitse kaikki, jotka sopivat pelille / Choose all that apply for the game</td></tr>
	<tr>
		<td align="left" valign="top">Englanninkielinen / Played in English
		<input name="game<%= i %>[english]" id="game<%= i %>_english" type="checkbox" /></td>
    <td align="left" valign="top">Lapsiystävällinen / Suitable for children
      <input name="game<%= i %>[children]" id="game<%= i %>_children" type="checkbox" /></td>
    <td align="left" valign="top">Vain täysi-ikäisille / Only for adults
      <input name="game<%= i %>[adult]" id="game<%= i %>_adult" type="checkbox" /></td>
    </tr>
      <tr>
    <td align="left" valign="top">Vaatii maailmatuntemusta / Setting knowledge required
      <input name="game<%= i %>[worldknowledge]" id="game<%= i %>_worldknowledge" type="checkbox" /></td>
    <td align="left" valign="top">Vaatii sääntötuntemusta / Rules knowledge required
      <input name="game<%= i %>[rulesknowledge]" id="game<%= i %>_rulesknowledge" type="checkbox" /></td>
    <td align="left" valign="top">Aloittelijaystävällinen / Suitable for beginners
      <input name="game<%= i %>[beginner]" id="game<%= i %>_beginner" type="checkbox" /></td>
        </tr>
    <td align="left" valign="top">Äänekäs / Loud
      <input name="game<%= i %>[loud]" id="game<%= i %>_loud" type="checkbox" /></td>
	</tr>

      <tr>
        <td colspan="2" align="left" valign="top">Valitse kaikki, jotka kuvaavat peliä / Choose all that describe the game:</td>
        </tr>
        <% for j in 0..(@genres.length / 3) %>
          <tr>
            <td valign="top" align="left">
              <%= @genres[j*3].value %><input name="game<%= i %>[<%= @genres[j*3].value%>]" id="game<%= i %>_<%= @genres[j*3].value%>" type="checkbox" />
            </td>
            <% if j*3+1 < @genres.length %>
            <td valign="top" align="left">
              <%= @genres[j*3+1].value %><input name="game<%= i %>[<%= @genres[j*3+1].value%>]" id="game<%= i %>_<%= @genres[j*3+1].value%>" type="checkbox" />
            </td>
                <% end %>
                <% if j*3+2 < @genres.length %>
            <td valign="top" align="left">
              <%= @genres[j*3+2].value %><input name="game<%= i %>[<%= @genres[j*3+2].value%>]" id="game<%= i %>_<%= @genres[j*3+2].value%>" type="checkbox" />
            </td>
            <% end %>
          </tr>
        <% end %>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top">Pelaajien lukumäärä / Number of players:</td>
        <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="game<%= i %>[attendance]" id="game<%= i %>_attendance" type="text" /></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top">Pelin kuvaus ja lisätiedot pelaajille / Game description and additional information to players:</td>
        <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="game<%= i %>[description]" id="game<%= i %>_description" type="text" /></td>
      </tr>
	<tr>
		<td colspan="2" align="left" valign="top">Pelin oletettu kesto / Length of the Game:</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="game<%= i %>[duration]" id="game<%= i %>_duration" type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Toivottu peluutusajankohta / Desired Time of the Game:</td>
    <td class="element" valign="top" align="left">  <select name="game<%= i %>[preftime]" id="game<%= i %>_preftime">
      <option>Pe / Fri 16:00</option>
      <option>Pe / Fri 18:00</option>
      <option>Pe / Fri 20:00</option>
      <option>Pe / Fri 22:00</option>
      <option>La / Sat 10:00</option>
      <option>La / Sat 12:00</option>
      <option>La / Sat 14:00</option>
      <option>La / Sat 16:00</option>
      <option>La / Sat 18:00</option>
      <option>La / Sat 20:00</option>
      <option>La / Sat 22:00</option>
      <option>Su / Sun 10:00</option>
      <option>Su / Sun 12:00</option>
      <option>Su / Sun 14:00</option>
    </select></td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">Muuta pelitietoa roolipelitiskille / Other Information for the Role Playing Help Desk:</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="game<%= i %>[privatenotes]" id="game<%= i %>_privatenotes" type="text" /></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
<% end %>
	<tr>
		<td align="left" valign="top"></td>
		<td valign="top" align="left">	<%= f.submit "Ilmoittaudu / Sign up" %></td>
	</tr>
	<tr>
		<td></td>
	<td align="left" valign="top">* pakollinen kenttä / Mandatory Field</td>
	</tr>
</table>
</div>
<% end %>
</div>
