<div class="sisalto">
	<h2>Ohjelmailmoittautuminen</h2>
	<% if @program.errors.empty? %>
		<p>Kiitos ilmoittautumisestasi. Alla olevat tiedot on nyt talletettu. Ohjelmatiimi ottaa sinuun yhteyttä lähitulevaisuudessa. Tarvittaessa voit lähettää myös meille sähköpostia osoitteeseen: ohjelma@ropecon.fi</p>

		<p>Ohjelman nimi: <%= @program.name%></p>
		<p>Ohjelman kuvaus: <%= @program.description%></p>

		<p>Etunimi: <%= @person.firstname %></p>
		<p>Sukunimi: <%= @person.lastname %></p>
		<p>Lempinimi: <%= @person.nickname %></p>
		<p>Puhelin: <%= @person.primary_phone %></p>
		<p>Sähköpostiosoite: <%= @person.primary_email %></p>
<% else %>
      <%= render "shared/error_messages", :target => @program %>
      <p>Ilmoittautumistasi ei ole talletettu! Palaa takaisin ja korjaa virheelliset tiedot.</p>
<% end %>
</div>
