<div class="sisalto">
	<h2><%= flash[:notice] %></h2>
	<h1><%= @event %> ohjelmailmoittautuminen</h1>

<p>Ohjelmatiimi ottaa sinuun yhteyttä lähiaikoina tarkentaakseen tarvittaessa tietoja sekä vahvistaakseen ohjelman ottamisen mukaan Ropeconiin.</p>

<%= form_for( @program, :url => { :action => 'create' } ) do |f| %>
<%= render "shared/error_messages", :target => @person %>
<div>
<table border="0" id="comment_form">

	<tr>
		<td align="left" valign="top">Ohjelman nimi: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input id="program_name" name="program[name]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Kuvaus: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_description" name="program[description]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>
	<tr>
		<td align="left" valign="top">Ohjelman tyyppit:</td>
		<td class="element" valign="top" align="left">
			<% for t in @types %>
				<input type="checkbox" name="groups[<%= t[1] %>]" /><%= t[0] %><br/>
			<% end %>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">Englanninkielinen nimi:</td>
		<td class="element" valign="top" align="left">	<input id="english_name" name="english[name]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Englanninkielinen kuvaus:</td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="english_description" name="english[description]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>
	<tr>
		<td align="left" valign="top">Huomautuksia ohjelmatiimin tietoon (mm. aikataulutoiveet):</td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_privatenotes" name="program[privatenotes]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>

<% if @people != nil %>
	<tr>
		<td align="left" valign="top">Pääjärjestäjä: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left"><%= collection_select( :organizers, :id, @people, :id, :fullname ) %></td>
	</tr>
<% end %>

	<tr><td colspan="2">Pääjärjestäjän yhteystiedot</td></tr>
	<tr>
		<td align="left" valign="top">Etunimi: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input id="person_firstname" name="person[firstname]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Sukunimi: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[lastname]" id="person_lastname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Lempinimi (tulee badgeen):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[nickname]" id="person_nickname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Matkapuhelin: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_phone]" id="person_primary_phone" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Sähköpostiosoite<br/>(henkilön oma, tällä tunnistetaan ihmiset):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_email]" id="person_primary_email" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top"></td>
		<td valign="top" align="left">	<%= f.submit "Ilmoittaudu" %></td>
	</tr>
	<tr>
		<td></td>
	<td align="left" valign="top">* pakollinen kenttä</td>
	</tr>
</table>
</div>
<% end %>
</div>
