<div class="sisalto">
	<h1><%= @event %> ohjelmailmoittautuminen</h1>

<p>Tällä lomakkeella voit ilmoittautua halukkaaksi pitämään ohjelmaa Ropeconissa.</p>

<p>Kerro lyhyesti, kuka olet (tai keitä olette), millaista ohjelmaa haluaisit järjestää ja oletko aiemmin
toiminut ohjelmanjärjestäjänä Ropeconissa tai muissa coneissa. Mitä tarkemmin kuvaat aiheesi, sitä paremmin pystymme alustavasti välttämään ohjelman päällekäisyydet. Lopullista, painokelpoista ohjelmakuvausta ei kuitenkaan vielä tässä vaiheessa tarvita, ja tiimille saa toki heitellä myös vasta kehitteillä olevia tai puolipähkähulluja ideoita.</p>

<p>Tarkista että antamasi yhteystiedot, erityisesti sähköpostiosoite, ovat oikein!</p>

<p>Ohjelmatiimi ottaa sinuun yhteyttä lähiaikoina tarkentaakseen tarvittaessa tietoja sekä vahvistaakseen ohjelman ottamisen mukaan Ropeconiin.</p>

<%= form_for( @program, :url => { :action => 'create' } ) do |f| %>
<%= render "shared/error_messages", :target => @person %>
<div>
<table border="0" id="comment_form">

	<tr>
		<td align="left" valign="top" width="33%">
			Ohjelman nimi: <span class="form_required">*</span>
		</td>
		<td class="element" valign="top" align="left" width="67%">
			<input id="program_name" name="program[name]" size="30" style="width: 350px" type="text" />
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">Kuvaus: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_description" name="program[description]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>
	<tr>
		<td align="left" valign="top">Ohjelman tyypit:</td>
		<td class="element" valign="top" align="left">
			<% for t in @types %>
				<input type="checkbox" name="groups[<%= t[2] %>]" /><%= t[0] %><br/>
			<% end %>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">
			Huomautuksia ohjelmatiimin tietoon<br/>
			(mm. aikataulutoiveet, muut järjestäjät sähköpostiosoitteineen):
		</td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_privatenotes" name="program[privatenotes]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>

	<tr>
		<td colspan="2">Osa Ropeconin ohjelmasta videoidaan ja jaetaan tapahtuman jälkeen Ropeconin YouTube-kanavalla sekä luentotyyppisten ohjelmien järjestäjiltä pyydetään mahdollisia luentodioja jaettavaksi Ropeconin sivujen kautta.
		</td>
	</tr>
	<tr>
		<td>Ohjelmani saa videoida ja editoidun videon julkaista internetissä</td>
		<td>
			<select id="program_videorights" name="program[videorights]">
				<option value="true">Kyllä</option>
				<option value="false">Ei</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Käyttämäni kalvot saa jakaa</td>
		<td>
			<select id="program_sliderights" name="program[sliderights]">
				<option value="true">Kyllä</option>
				<option value="false">Ei</option>
			</select>
		</td>
	</tr>

<% if @people != nil %>
	<tr>
		<td align="left" valign="top">Pääjärjestäjä: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left"><%= collection_select( :organizers, :id, @people, :id, :fullname ) %></td>
	</tr>
<% end %>

	<tr><td colspan="2">Pääjärjestäjän yhteystiedot</td></tr>
	<tr>
		<td align="left" valign="top">Etunimi: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input id="person_firstname" name="person[firstname]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Sukunimi: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[lastname]" id="person_lastname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Lempinimi (tulee badgeen):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[nickname]" id="person_nickname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Matkapuhelin: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_phone]" id="person_primary_phone" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Sähköpostiosoite<br/>(henkilön oma, tällä tunnistetaan ihmiset):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_email]" id="person_primary_email" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top"></td>
		<td valign="top" align="left">	<%= f.submit "Ilmoittaudu" %></td>
	</tr>
	<tr>
		<td></td>
	<td align="left" valign="top">* pakollinen kenttä</td>
	</tr>
</table>
</div>
<% end %>
</div>
