<div class="sisalto">
	<h1><%= @event %> program sign-up</h1>
  <p>With this form you can sign up as a program organizer for Ropecon. Please note that all program items need to be approved; filling this form does not mean you are accepted automatically. Briefly tell us who you are, what kind of program you’d like to organize and if you have previous experience as a program organizer in Ropecon or other conventions.</p>

  <p>A detailed description prevents overlaps in the program and means we’ll hopefully be able to fit you into the program schedule with fewer extra questions and clarifications needed. The description however doesn’t need to be in its final, printable form. The program can still be developed further after the sign-up. You can also throw crazy ideas at the team for development.</p>

  <p>Make sure the contact information is correct! The team will contact you via e-mail for further details and/or to confirm your acceptance to the <%= @event %> program.</p>


  Other considerations (things you want to point out to the organizers, f.e. preferences for schedules and contact info for co-organizers ):

  Some of the program in Ropecon will be filmed and shared on Ropecon’s YouTube-channel after the event. In addition, slides for lectures can be shared on Ropecon’s website.

  My program can be filmed, edited and published online:

  My program slides / material can be shared:

  Main organizer:

  Main organizer information:

  First name:

  Last name:

  Nickname (for the badge):

  Mobile phone number:

  E-mail (used to id people!):



  SEND

  * compulsory field


<%= form_for( @program, :url => { :action => 'create' } ) do |f| %>
<%= render "shared/error_messages", :target => @person %>
<div>
<table border="0" id="comment_form">

	<tr>
		<td align="left" valign="top" width="33%">
			Program name: <span class="form_required">*</span>
		</td>
		<td class="element" valign="top" align="left" width="67%">
			<input id="program_name" name="program[name]" size="30" style="width: 350px" type="text" />
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">Description: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_description" name="program[description]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>
	<tr>
		<td align="left" valign="top">Classification:</td>
		<td class="element" valign="top" align="left">
			<% for t in @types %>
				<input type="checkbox" name="groups[<%= t[1] %>]" /><%= t[0] %><br/>
			<% end %>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">
      Other considerations (things you want to point out to the organizers, f.e. preferences for schedules and contact info for co-organizers):
		</td>
		<td class="element" valign="top" align="left">	<textarea rows="4" cols="80" id="program_privatenotes" name="program[privatenotes]" size="30" style="width: 350px" type="text" ></textarea></td>
	</tr>

	<tr>
		<td colspan="2">Some of the program in Ropecon will be filmed and shared on Ropecon’s YouTube-channel after the event. In addition, slides for lectures can be shared on Ropecon’s website.
    </td>
	</tr>
	<tr>
		<td>My program can be filmed, edited and published online</td>
		<td>
			<select id="program_videorights" name="program[videorights]">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>My program slides / material can be shared</td>
		<td>
			<select id="program_sliderights" name="program[sliderights]">
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</td>
	</tr>

<% if @people != nil %>
	<tr>
		<td align="left" valign="top">Main organizer: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left"><%= collection_select( :organizers, :id, @people, :id, :fullname ) %></td>
	</tr>
<% end %>

	<tr><td colspan="2">Main organizer information</td></tr>
	<tr>
		<td align="left" valign="top">First name: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input id="person_firstname" name="person[firstname]" size="30" style="width: 350px" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Last name: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[lastname]" id="person_lastname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Nickname (for the badge):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[nickname]" id="person_nickname" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">Phone number: <span class="form_required">*</span></td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_phone]" id="person_primary_phone" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top">E-mail address<br/>(personal, used for identification):</td>
		<td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_email]" id="person_primary_email" type="text" /></td>
	</tr>
	<tr>
		<td align="left" valign="top"></td>
		<td valign="top" align="left">	<%= f.submit "Send" %></td>
	</tr>
	<tr>
		<td></td>
	<td align="left" valign="top">* compulsory field</td>
	</tr>
</table>
</div>
<% end %>
</div>
