<h3>Ohjelmanumeron perustiedot</h3>
<table>
  <tr><th align="left" valign="top">Nimi:</th><td><%= @program.name %></td></tr>
  <tr><th align="left" valign="top">Kuvaus:</th><td><%= @program.description %></td></tr>
  <tr><th align="left" valign="top">Englanninkielinen nimi:</th><td><%= @englishname %></td></tr>
  <tr><th align="left" valign="top">Englanninkielinen kuvaus:</th><td><%= @englishdescription %></td></tr>
  <tr><th align="left" valign="top">Julkinen tarkennus:</th><td><%= @program.publicnotes %></td></tr>
  <tr><th align="left" valign="top">Salaiset muistiinpanot:</th><td><%= simple_format( @program.privatenotes ) %></td></tr>
  <tr><th align="left" valign="top">Materiaalin URL:</th><td><%= @program.url %></td></tr>
  <tr><th align="left" valign="top">Väkimäärä:</th><td><%= @program.attendance %></td></tr>
  <tr><th align="left" valign="top">Ryhmät</th><td>
<% for group in @program.programgroups %>
<%= group.name %>
<% end %>
  </td></tr>
  <tr><th align="left" valign="top">Tila:</th><td><%= @program.statusname %></td></tr>
  <tr><th align="left" valign="top">Muutettu:</th><td><%= @program.updated_at %></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><th align="left" valign="top">Attribuutit:</th><td>
<% for att in @program.programs_events_attributes %>
<%= att.attribute.name %>: <%= att.value %><br/>
<% end %>
</td></tr>
</table>

<h3>Ohjelman järjestäjät</h3>
<% @program.programs_organizers.each { |organizer| 
if organizer.person
%>
<p><%= link_to organizer.person.name, :controller => 'people', :action => 'show', :id => organizer.person %>
<% if organizer.statusname != nil %>
(<%= organizer.statusname.name %>)
<% end %>
</p>
<% 
end
} %>
<h3>Ohjelman aikataulutiedot</h3>
<% @program.programitems.sort{|p1,p2| p1.start_time <=> p2.start_time}.each { |item| %>
<p><b>Nimi:</b> <%= item.name %></p>
<p><b>Kuvaus:</b> <%= item.description %></p>
<p><b>Paikka:</b> <%= link_to item.location, :controller => 'locations', :action => 'show', :id => item.location %></p>
<p><b>Alkaa:</b> <%= item.start_time %></p>
<p><b>Loppuu:</b> <%= item.end_time %></p>
<% } %>
<%= link_to 'Muokkaa', :action => 'edit', :id => @program %> |
<%= link_to 'Takaisin', :action => 'list' %>

