<h1>Varauslista</h1>
<p><%= link_to 'Lyhyt lista', exhibitors_path %> <%= link_to 'Täysi lista', exhibitors_path(:full => 1) %></p>
<table>
  <tr>
	<th>Yritys</th>
<% if @fulllist %>
    <th>Kuvaus</th>
<% end %>
	<th>Laskutusosoite</th>
	<th>Yhteyshenkilö</th>
    <th>Puhelin</th>
    <th>Sähköposti</th>
    <th>Laskun summa</th>
	<th>Pöytiä</th>
	<th>Pöytäkoko</th>
	<th>Rannekkeita</th>
	<th>Passeja</th>
    <th>Viite</th>
    <th>Eräpäivä</th>
	<th>Muuta</th>
  </tr>
  
<% for exhibitor in @exhibitors %>
  <tr>
    <td><%= exhibitor.companyname %></td>
    <% if @fulllist %>
        <td><%= exhibitor.description %></td>
    <% end %>
    <td><%= exhibitor.billing_address %></td>
<% if exhibitor.person %>
      <td><%= exhibitor.person.fullname %></td>
      <td><%= exhibitor.person.primary_phone %></td>
      <td><%= exhibitor.person.primary_email %></td>
<% else %>
      <td></td>
      <td></td>
      <td></td>
<% end %>
    <td><%= exhibitor.total.to_s %></td>
    <td><%= exhibitor.tables.to_s %></td>
    <td><%= exhibitor.tablesize %></td>
    <td><%= exhibitor.tickets.to_s %></td>
    <td><%= exhibitor.travelpasses.to_s %></td>
    <td><%= exhibitor.reference %></td>
    <td><%= exhibitor.duedate %></td>
    <td><%= exhibitor.notes %></td>
    <td><%= link_to 'Näytä', :action => 'show', :id => exhibitor %></td>
    <td><%= link_to 'Lasku', '/exhibitors/invoice/' + exhibitor.id.to_s + '.pdf' %></td>
    <td><%= link_to 'Muokkaa', :action => 'edit', :id => exhibitor %></td>
    <td><%= link_to 'Poista', :action => 'destroy', :id => exhibitor %></td>
  </tr>
<% end %>
</table>

<br />

