<div class="sisalto">
  <h2><%= flash[:notice] %></h2>
  <h2><%= @event %> myyntialuevaraus</h2>

  <p>Varauksen lähetettyäsi saat sähköpostiisi vahvistuksen
    sen perillemenosta.</p>
  <%= form_for( @exhibitor, :url => { :action => "create" } ) do |f| %>
      <div>
        <table border="0" id="comment_form">

          <tr>
            <td align="left" valign="top">Yhteisö (tulee myös nettiin ja pöytäkarttaan): <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input id="exhibitor_companyname" name="exhibitor[companyname]" size="30" style="width: 350px" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Julkinen kuvaus (nettiin ja pöytäkarttaan):</td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="exhibitor[description]" id="exhibitor_description" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Yhteyshenkilön etunimi: <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[firstname]" id="person_firstname" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Yhteyshenkilön sukunimi: <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[lastname]" id="person_lastname" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Matkapuhelinnumero: <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_phone]" id="person_primary_phone" type="text" length="20" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Sähköpostiosoite: <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="person[primary_email]" id="person_primary_email" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Laskutusosoite: <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="exhibitor[billing_address]" id="exhibitor_billing_address" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Laskun viite:</td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="exhibitor[customer_reference]" id="exhibitor_customer_reference" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Pöytäpaikan tyyppi: <span class="form_required">*</span></td>
          </tr>
          <% for size in @sizes %>
              <tr>
                <td></td></td><td class="element" valign="top" align="left">
                <input name="table" value="<%= size.name %>" type="radio" id="table_<%= size.id %>" /><label for="table_<%= size.id %>"><%= size.name %></label></td>
              </tr>
          <% end %>
          <tr>
            <td align="left" valign="top">Mahdollisen osaston neliömäärä:</td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="tables" id="tables" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Varattavien myyjäpassien lukumäärä:</td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="travelpasses" id="travelpasses" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Ostettavien viikonloppurannekkeiden lukumäärä:</td>
            <td class="element" valign="top" align="left">	<input size="30" style="width: 350px" name="tickets" id="tickets" type="text" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Varattavien mainosten tiedot:</td>
            <td class="element" valign="top" align="left">	<textarea size="30" style="width: 350px" rows="5" wrap="virtual" name="advertisements" id="advertisements"></textarea></td>
          </tr>
          <tr>
            <td align="left" valign="top">Lisätietoja ja -toiveita:</td>
            <td class="element" valign="top" align="left">	<textarea size="30" style="width: 350px" rows="5" wrap="virtual" name="exhibitor[notes]" id="exhibitor_notes"></textarea></td>
          </tr>
          <tr>
            <td align="left" valign="top">Hyväksyn Ropecon ry:n <a href="http://www.ropecon.fi/pmwiki/index.php/Intra/Myyj%C3%A4sopimus2015">myyjäsopimuksen</a>. <span class="form_required">*</span></td>
            <td class="element" valign="top" align="left">	<input name="agree" id="agree" type="checkbox" /></td>
          </tr>
          <tr>
            <td align="left" valign="top">Yhdistyksi&auml; koskee <a href="http://www.ropecon.fi/pmwiki/index.php/Intra/Yhdistysehdot2015">yhdistysten ehdot</a>.</td>
            <td class="element" valign="top" align="left"></td>
          </tr>
          <tr>
            <td align="left" valign="top">Täyttämällä tämän lomakkeen annat luvan Ropecon ry:lle käyttää tietojasi <a href="http://www.ropecon.fi/permanent/rekisteriseloste.txt">rekisteriselosteen</a> mukaisiin tarkoituksiin.</td>
          </tr>
          <tr>
            <td align="left" valign="top"></td>
            <td valign="top" align="left">	<%= f.submit( "Tee varaus" ) %></td>
          </tr>
          <tr>
            <td></td>
            <td align="left" valign="top">* pakollinen kenttä</td>
          </tr>
        </table>
      </div>
  <% end %>
</div>
