<%= form_for( @programitem ) do |f| %>
    <% if @programitem.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@programitem.errors.count, "error") %> prohibited this program item from being saved:</h2>

          <ul>
            <% @programitem.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<!--[form:programitem]-->
<p><label for="programitem_name">Name</label><br/>
<%= f.text_area :name %></p>

<p><label for="programitem_description">Description</label><br/>
<%= f.text_area :description %></p>

<p><label for="programitem_start_time">Start time</label><br/>
<%= f.datetime_select :start_time %></p>

<p><label for="programitem_end_time">End time</label><br/>
<%= f.datetime_select :end_time %></p>
<!--[eoform:programitem]-->

  <p><b>Paikka:</b><%= f.select(:programitem, :location_id, @locations) %></p>

    <%= f.submit "Talleta" %>

<% end %>
