<%= error_messages_for 'orderitem' %>

<!--[form:orderitem]-->
<p><label for="orderitem_name">Name</label><br/>
<%= f.text_area :name %></p>

<p><label for="orderitem_location">Location</label><br/>
<%= f.text_area :location %></p>

<p><label for="orderitem_cost">Cost</label><br/>
<%= f.text_field :cost %></p>

<p><label for="orderitem_status">Status</label><br/>
<%= f.text_field status %></p>
<!--[eoform:orderitem]-->

