<h1>Editing contact</h1>

<%= form_for( @contact, :url => { :action => 'update', :id => @contact } ) do |f| %>
  <%= render :partial => 'form' %>
  <%= f.submit 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @contact %> |
<%= link_to 'Back', :action => 'list' %>
