    <h1><%= @event.name %> henkilö- ja ohjelmakanta</h1>
    <p>Valitse listalta toiminto</p>
    <ul>
      <li><a href="/staff/index">Työvoiman hallinta</a></li>
      <li><a href="/staff/new">Uuden työvoiman syöttö</a></li>
      <li><a href="/programs/list">Ohjelmanumeroiden listaus</a></li>
      <li><a href="/programs/new">Uuden ohjelmanumeron syöttö</a></li>
      <li><a href="/programs/search">Ohjelmahaku</a></li>
      <li><a href="/people/duplicates">Kaksoiskappaleiden hallinta</a></li>
      <li><a href="/people/list">Kaikkien henkilöiden listaus</a></li>
      <li><a href="/people/search">Nimihaku</a></li>
      <li><a href="/attributes">Attribuutit</a></li>
      <li><%= link_to "Tapahtumat", :controller => 'events', :action => 'index' %></li>
      <li><%= link_to "Paikat", :controller => 'locations', :action => 'index' %></li>
      <li><a href="/persongroups">Kaikki henkilöryhmät</a></li>
      <li><a href="/programgroups">Kaikki ohjelmaryhmät</a></li>
      <li><a href="/notes">Con-TV</a></li>
<% Event.all(:conditions => ["name=?", @event.name], :order => 'name, year desc').each{ |event|
unless event.programs.empty?
%>
      <li><a href="/programs/public/<%= event.id %>"><%= event %> ohjelmanumeroiden listaus</a></li>
<% 
end
} %>
      <li><%= link_to "Kirjaudu ulos", :controller => 'login', :action => 'logout' %></li>
    </ul>
