<html>
<head>
  <title><%= @event.name %> tietokanta: <%= controller.action_name %></title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '/assets/jquery.js' %>
  <%= javascript_include_tag '/assets/jquery_ujs.js' %>
  <%= javascript_tag 'jQuery.noConflict();' %>
<!-- calendar_date_select_includes "silver" -->
  <%= csrf_meta_tag %>
</head>
<body>
<p class="menu">
<%= link_to "Etusivu", :controller => 'login', :action => 'index' %>
<%= link_to "Työvoima", :controller => 'staff', :action => 'index' %>
<%= link_to "Uusi henkilö", :controller => 'people', :action => 'new' %>
<%= link_to "Uusi työvoima", :controller => 'staff', :action => 'new' %>
<%= link_to "Ohjelmanumerot", :controller => 'programs', :action => 'index' %>
<%= link_to "Uusi ohjelmanumero", :controller => 'programs', :action => 'new' %>
<%= link_to "Tilaukset", :controller => 'orders', :action => 'index' %>
<%= link_to "Myyjät", :controller => 'exhibitors', :action => 'index' %>
<%= link_to "Tuotemyynti", :controller => 'purchases', :action => 'index' %>
<%= link_to "Henkilöhaku", :controller => 'people', :action => 'search' %>
<%= link_to "Kirjaudu ulos", :controller => 'login', :action => 'logout' %>
</p>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
